.classpath
.project
.settings/
target/
static-ioc-commandline/dependency-reduced-pom.xml
pom.xml.next
pom.xml.tag
pom.xml.releaseBackup
release.properties
*.launch
.gwt
static-ioc-samples/staticioc-samples-gwt/gwt-unitCache
static-ioc-samples/staticioc-samples-gwt/www-test/
static-ioc-samples/staticioc-samples-gwt/src/main/webapp/WEB-INF/lib/gwt-servlet.jar
