<?xml version="1.0" encoding="UTF-8"?>
<!--

     Copyright (C) 2012 Charles Gibault

     Static IoC - Compile XML based inversion of control configuration file into a single init class, for many languages.
     Project Home : http://code.google.com/p/static-ioc/

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.

-->
<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<!-- class with constructor args -->
	<bean id="beanParent" class="test.Bean">
  		<constructor-arg index="0"><value>00</value></constructor-arg>
  		<constructor-arg index="1" type="java.util.Integer"><value>10</value></constructor-arg>
  		<property name="nation" value="import" />
	</bean>
	
	<bean id="realBean" parent="abstractBean">
	    <constructor-arg index="2"><value>45</value></constructor-arg>
		<constructor-arg index="0" type="java.util.Integer"><value>30</value></constructor-arg>
  		<constructor-arg index="1"><value>40</value></constructor-arg>
		<property name="type" value="Cold hard concrete bean" />
		<property name="nation" value="reality" />
	</bean>
	
	<bean id="abstractBean" parent="beanParent" abstract="true" class="test.AnotherBean">
		<property name="address" value="Somewhere over the rainbow" />
	</bean>
	
	<import resource="SpringConfigParserTest-ImportedParent.xml"/>
</beans>