<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<!-- class with constructor args -->
	<bean id="beanParent" class="test.Bean">
  		<constructor-arg index="0"><value>00</value></constructor-arg>
  		<constructor-arg index="1" type="java.util.Integer"><value>10</value></constructor-arg>
  		<property name="nation" value="import" />
	</bean>
	
	<bean id="realBean" parent="abstractBean">
	    <constructor-arg index="2"><value>45</value></constructor-arg>
		<constructor-arg index="0" type="java.util.Integer"><value>30</value></constructor-arg>
  		<constructor-arg index="1"><value>40</value></constructor-arg>
		<property name="type" value="Cold hard concrete bean" />
		<property name="nation" value="reality" />
	</bean>
	
	<bean id="abstractBean" parent="beanParent" abstract="true" class="test.AnotherBean">
		<property name="address" value="Somewhere over the rainbow" />
	</bean>
	
	<import resource="SpringConfigParserTest-ImportedParent.xml"/>
</beans>