<?xml version="1.0" encoding="UTF-8"?>
<!--

     Copyright (C) 2013 Charles Gibault

     Static IoC - Compile XML based inversion of control configuration file into a single init class, for many languages.
     Project Home : http://code.google.com/p/static-ioc/

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.

-->
<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="personBean" name="myPersonBean" class="test.Person">
		<property name="name" value="personName" />
		<property name="username">
    		<value>root</value>
  		</property>
		<property name="address" value="address 1" />
		<property name="country">
			<ref>country</ref>
  		</property>
  		<property name="countryRefBean">
			<ref bean="country"/>
  		</property>
  		<property name="countryRefLocal">
	  		<ref local="country"/>
  		</property>
	  	<property name="namedCountry">
			<ref>myCountry</ref>
  		</property>
  		<property name="birthCountry">
			<idref bean="country"/>
  		</property>
		<property name="age" value="28"/>
		<property name="reference" ref="number10House" />
		<property name="nullProp">
		    <null/>
		</property>
		<property name="innerBean">
		    <bean class="test.innerBean">
		        <property name="innerBeanOnly" value="Embedded property"/>
		    </bean>
		</property>
	</bean>

	 <!-- class without id  -->
	<bean class="test.AnonymousPerson" p:name="Tony" p:age="53" p:house-ref="number10House" />

	<!-- class with id and p notation " -->
	<bean class="test.House" name="number10House" p:name="10 Downing Street" p:p-ref="personBean" p:person-ref="personBean"/>
		
	<!-- class with constructor args -->
	<bean id="country" name="myCountry" class="test.Country">
  		<constructor-arg index="1"><value type="java.util.Integer">7500000</value></constructor-arg>
  		<constructor-arg index="0"><value>42</value></constructor-arg>
	</bean>
</beans>